ul {
	padding:0;
}
li{
    list-style: none;
}
a {
   text-decoration: none;
}
button {
	outline:none;
	border:none;
	background-color:transparent;
	cursor:pointer;
}
.wrapper {
    display:flex;
    flex-direction: column;
    max-width:760px;
    min-width:760px;
    width:100%;
    margin:0 auto;
    position: relative;
}
.firstColumn {
	position:sticky;
	top:0;
	width:100%;
	height: 400px;
	border-radius: 15px;
	z-index: 1;
	box-shadow: 0 0 10px rgba(0,0,0,.05);
	padding:30px 20px 20px 20px;
}
.firstColumn::after {
    width: 100%;
    height: 100%;
    content:"";
    border-radius: 15px;
    background-image:url('../images/myLibrary/library.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    position: absolute;
    top:0;
    left:0;
    z-index:-1;
    opacity: 0.7;
    box-shadow: 0 0 10px rgba(0,0,0,.05);
}
input[type="radio"] {
    display:none;
}
.secondColumn {
    z-index:2;
    margin-bottom: 100px;
    position: relative; 
}
.secondColumn .consBtn {
	position:sticky;
}
.secondColumn .consBtn label {
    position:sticky;
    padding:10px 25px;
    margin:0px;
    color:rgb(90, 90, 90);
    cursor: pointer;
    background-color:tranparent;
    border-radius: 10px 10px 0 0;
}
.secondColumn .consBtn input[type="radio"]:checked + label {
    background-color: #fff;
    color: #333;
    font-weight: bold;
    border: 1px solid #ccc;
    border-bottom: 0;
}
.content {
    background-color:white;
    padding:30px;
    border-top:none;
    width: 100%;
    margin:0 auto;
    margin-top:9px;
    box-shadow: 0 0 15px rgba(0,0,0,.05);
    font-family: 'Noto Sans KR', sans-serif;
    color: #777777;
    font-size:16px;
    font-weight:bold;
    border:1px solid #ccc;
	margin-top:9px;
}
.content.invisible {
	display:none;
}
.mybook_Content {
    text-align:center;
    font-weight:normal;
    padding:100px 0;
}
.mybook_Content button {
    display:block;
    border-radius: 42px;
    font-weight: bold;
    width: 194px;
    height: 50px;
    line-height: 50px;
    margin: 20px auto 0;
    border: 1px solid #9268bb;
    color: #9268bb;
    font-size: 16px;
    background-color: white;
    cursor: pointer;
    outline: none;
}
.mybook_Content span {
    font-weight:bold;
    display:block;
}
.mybook_Content i {
    
    position: relative;
    font-size: 55px;
    opacity: 0.9;
    margin: 20px 0;
    padding-left:0px;
    color:#e2dee7;
}
.mybook_Content i::after {
    position: absolute;
    top:50%;
    left:0;
    margin-top:-30px;
}
.mybook_Content > button > i{
    font-size:19px;
    margin:0 5px 0 0 ;
    color: #A451F7
}
.firstColumn .myImage {
    position: relative;
    border:1px solid #e8e8e8;
    border-radius: 50%;
    width:80px;
    height:80px;
    display: block;
    margin-bottom:10px;
    margin-left:20px;  
}
.firstColumn .myImage img {
   position: absolute;
   width:100%;
   height:100%;
   border-radius:50%;
}
.firstColumn .myImage a {
    cursor: pointer;
}
.firstColumn .myImage #point {
   	position: absolute;
    bottom: 0;
    right: -90px;
    color: #333;
    font-size:12px;
    opacity: 0.8;
    font-family: 'Noto Sans KR', sans-serif;
}
.firstColumn .myImage #point span {
	display: inline-block;
    margin-right: 2px;
    width: 65px;
    text-align: right;
}
.bigbox {
    margin-top: 50px;
}
.myImage i {

    border-radius: 50%;
    color:lightgray;
}
.myNickname {
    width:300px;
    display:block;
    font-size:25px;
    color:rgb(92, 92, 92);
    font-family: 'Noto Sans KR', sans-serif;
}
.myNickname a:nth-child(1) {
    color:rgb(92, 92, 92);
    font-weight:bold;
}
.infoSetting {
    width: 45px;
    float:right;
}
.infoSetting i {
    font-size: 35px;
    color:white;
}
.manyBtn {
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    margin-left: 15px;
}
.manyBtn ul {
    height: 80px;
}
.manyBtn ul li {
    display:inline;
}
.manyBtn ul li a {
    color:#fff;
    border-radius: 15px;
    margin: 6px;
    padding:5px;
    background-color: #749097;
    font-family: 'Noto Sans KR', sans-serif;
    text-decoration:none;  
}
.manyBtn ul li a b {
    color:white;
    font-size: 18px;
}
.goSubscribe {
    width:200px;
    float:right;
    bottom:0;
    right:0;
    padding:10px 10px 10px 20px;
    position: absolute;
    margin:5px;
    font-family: 'Noto Sans KR', sans-serif;
}
.goSubscribe a {
    color:white;
    cursor: pointer;
    font-size:17px;
    width: 110px;
    float: right;
    text-align:right;
    margin-bottom:2px;
}
.goSubscribe em {
    font-style:normal;
    color:  #0099FF;
    margin-bottom:7px;
}
.secondColumn {
    width:100%;
    height:70%;
    padding-top: 30px;
    border-radius: 5px;
}
.postInputBtn {
    text-align: right;
}
.postInputBtn button {
    text-align: center;
    width: 110px;
    height: 40px;
    border-radius: 5px;
   border: 1px solid #0099FF;
    background-color:white;
    font-size: 16px;
    color: #0099FF;
    margin:10px;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
    outline: none;
    padding:2px;
}
.postInputBtn button:hover {
    font-weight:bold;
    background-color: #F3F4F6;
}
.postInsert {
    margin-top: 15px;
    border:1px solid lightgray;
    width:100%;
    border-radius: 5px;
    background-color:white;
}
.postInsert.invisible {
	display:none;
}
.postInsert input[type="text"] {
    padding:10px 30px;
    border:none;
    border-bottom:1px solid lightgray;
    outline: none;
    display:block;
    width:100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:17px;
}
.postInsert ::placeholder {
  color:#b3b3b7;
}
.postInsert #post_Content {
    outline: none;
    border: none;
    padding: 10px 15px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    border-radius: 5px;
    margin: 14px;
    width: 95%;
    border: 1px solid #e8e8e8;
}
.starScore{
    position: absolute;
    display: inline-block;
    margin-top: 27px;
    margin-left: 5px;
    width: 50px;
} 
.starScore span {
    color:#979797;
    width:27px;
    display:inline-block;
    text-align:right;
}
.bookStarScore span{
    color:#979797;
    cursor: pointer;
}
.bookStarScore {
    width:92%;
    margin:10px;
    padding:10px;
}
.bookStarScore b {
    font-weight:normal;
    margin-right:15px;
}
#starScore {
    margin-left:7px;
}
.postEndBtn {
	margin-bottom:8px;
    text-align:center;
}
.postEndBtn button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #0099FF;
    background-color:white;
    font-size: 16px;
    color: #0099FF;
    margin:10px;
    font-family: 'Noto Sans KR', sans-serif;
    cursor: pointer;
    outline: none;
}
.myPostCheck {
	display: flex;
    justify-content: center;
    align-items: center;
}
.myPostCheck h3 {
	margin: 120px 0;
}
.myPostCheck.invisible {
	display:none;
}
.myPostCheck table {
    margin-top:15px;
    width: 100%;
    text-align:center;
    background-color:white;
    border-radius: 7px;
    padding:10px;
    font-size:14px;
    background-color: #e8e8e8;
    color: #333;
    text-index:0;
}
.myPostCheck table th {
    border-bottom:1px solid #e8e8e8;
    padding:5px;
}
.myPostCheck table td {
    font-weight: normal;
    padding:5px;  
}
.myPostCheck table tr:nth-child(2)>td:nth-child(2) {
width:0%;
}
#postTitleChk {
    background-color: rgba(218, 218, 218, 0.226);
    font-size:18px;
    width:100%;
    height: 43px;
    font-weight: bold;
    border:none;
    border-bottom:1px solid #e8e8e8;
    outline: none;
    font-family: 'Noto Sans KR', sans-serif;
    color:rgb(95, 95, 95);
    padding-left:10px;
}
.myPostCheck table #postText {
    font-size:14px;
    width: 100%;
    border:none;
    font-family: 'Noto Sans KR', sans-serif;
    color:gray;
    outline:none;
    padding: 10px ;
}
.postImgFile {
    margin-left: 15px;
    text-align: center;
}
.postImgFile input {  
    outline:none;
    display:inline-block;
}
.postImgFile .postImage {
    display:block;
    border:1px dotted lightgray;
    width: 350px;
    height: 200px;
    text-align:center;
    margin-top:20px;
}
.postImage {
    width:300px;
    margin:0 auto;
}
.postImage img {
    max-width:90%;
    margin:10px;
    padding:5px;
    height:90%;
}

#myFace {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}
.likeList ul li {
    display:inline-block;
    vertical-align: middle;
    text-indent: 15px;
}
.likeList ul {
    border-bottom:1px solid #e8e8e8;
    margin-bottom:5px;
}
.modal {
    display:none;
    position:fixed;
    left:0; 
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color: rgba(0,0,0,0.6);
    z-index: 5;
}
#modalCloseBtn button {
   font-size: 22px;
   border:none;
   position: absolute;
   top:0;
   right:0;
   border-radius: 50%;
   margin:5px;
   outline:none;
   cursor: pointer;
   text-align:right;
}
.modal .modal_content {
    position: relative;
    background-color:  #fefefe;
    margin:11% auto;
    padding: 15px 10px 15px 15px;
    width: 320px;
    height: 400px;
    z-index: 5;
    border-radius: 7px;
}
.modal_content ul {
    border-bottom:1px solid #e8e8e8;
}
#modalCloseBtn button i {
    color:#333; 
}
.followNum {
    font-size: 18px;
    font-weight: bold;
    color:#0099FF;
}
.likeList {
    margin-top:20px;
    height: 88%;
    overflow:auto;
}
 .ebookList {
     width:100%;
 }
.ebookList table img {
    width: 90px;
}
.ebookList table {
    width: 90%;
    text-align:left;
    text-indent:20px;
    font-size:14px;
    margin:0 auto;
}
.ebookList table td:nth-child(1) {
        width:40px;
}
.ebookList table button {
    width: 90px;
    height: 35px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 6px;
    background-color: #F3F4F6;
    border:1px solid #0099FF;
    color:#333;
    outline: none;
}
.ebookList table button:hover{
    border:2px solid #0099FF;
    font-weight: bold;
}
.bookshelf {
    width:100%;
    height:15px;
    border: 1px solid #e8e8e8;
}
.ebooks {
    margin-top:10px;
	position:relative;
}
.listTitle {
    border-top:2px solid rgb(95, 95, 95);
    border-bottom:1px solid lightgray;
    padding:6px;
    margin-bottom:10px;
}
.totalBtn label {
    border:1px solid lightgray;
    padding:3px 7px 3px 7px;
    font-size:12px;
    cursor: pointer;
}
.totalBtn button {
    border:1px solid lightgray;
    padding:4px 8px 4px 8px;
    font-size:12px; 
    background-color:white; 
    margin-left: 10px;
    font-family: 'Montserrat', sans-serif;
    outline:none;
    cursor: pointer;
}
.totalBtn {
    margin:10px;
}
.ebooks .buyBtn {
	position: absolute;
	top: 50px;
    right: 10px;
    border: none;
    padding: 4px 10px;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    background-color: gray;
    color: #fff;
}
.ebookList #eachDelete {
    color: #333;
    display:block;
    text-align:center;
    padding-left:50px;
    padding-top:6px;
}
.ebookList table td {
    border-bottom:1px solid #e8e8e8;
    padding-top:5px;
}
.ebookList table td:nth-child(4) {
    text-align: right;
}
.ebookList table td ul li:nth-child(2) {
    font-weight: normal;
}
.myBookbook {
    position: relative;
    padding: 15px 10px;
}
.myBookbook ul {
    display:flex;
    flex-wrap:wrap;
    padding:0;
}
.myBookbook > ul > li{
   width: 20%;
   padding:0 6px;
   box-sizing: border-box;
   cursor:pointer;
   margin-bottom: 20px;
}
.myBookbook >ul>li > a {
    display: block;
    text-decoration: none;
}

.myBookbook > ul>li .books {
    position: relative;
}
.myBookbook > ul>li .mybookimage {
    position: relative;
    overflow:hidden;
    height:0;
    border-radius: 0 3px 3px 0;
    box-shadow: 2px 2px 6px rgba(0,0,0,.1), 0 0 2px rgba(0,0,0,.2);
    padding-top: 138%;
}
.myBookbook > ul>li .mybookimage img {
    position: absolute;
    left:0;
    top:0;
    right:0;
    min-height: 100%;
    width:100%;
    display: block;
}
.books .names  {
    font-size: 14px;
    text-align:center;
    margin-top:5px; 
}   
.books .names strong {
    color: #000;
    font-weight: normal;
}
.follow {
    float:right;
    text-align: right;
    margin-right: -8px;
    margin-top: -10px;
}
.follow #followBtn1{
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: #17769c;
    color:white;
    border:1px solid #F3F4F6;
    outline: none;
    cursor: pointer;
    font-size: 15px;
}
.follow #followBtn2{
    width: 80px;
    height: 40px;
    border-radius: 20px;
    background-color: #17769c;
    color:white;
    border:1px solid #F3F4F6;
    outline: none;
    cursor: pointer;
    font-size: 15px;
}
.follow #categoryAdd {
    display:block;
    margin:20px 0 20px 0;
    padding:10px;
    border-radius: 20px;
    border:none;
    outline:none;
    cursor: pointer;
    background-color: #17769c;
    color:white;
    border:1px solid #F3F4F6;
}
#selWrap {
   width: 90%;
   margin-top: 20px;
   margin-left: 25px;
   position: relative;
}
.selectInput {
   border:1px solid #ccc;
   border-radius: 2px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding:8px 10px;
   cursor: pointer;
}
.selectInput .default {
   font-size: 14px;
   font-weight: bold;
}
.selectResult {
   position: absolute;
   width:100%;
   border:1px solid #ccc;
   border-radius: 0 0 3px 3px;
   max-height: 500px;
   background-color:#f0f0f0;
   z-index:2;
}
.selectResult ul {
   padding: 10px 12px;
}
.selectInput > i {
   transition: all 300ms ease-in-out;
}
.selectInput > i.open {
   transform: rotate(180deg);
}
.selectResult {
   transition: all 300ms ease-in-out;
}
.selectResult ul  li {
   padding: 5px 0;
   font-size: 14px;
   color: gray;
   cursor: pointer;
}
.selectResult ul  li:hover {
   color:black;
}
.selectResult.invisible {
  display: none;
}

/* 별점 구현 */
.starWrap {
  display: inline-block;
  position: relative;
  height: 34px;
  margin-top: 20px;
  margin-left:20px;
  overflow: hidden;
}
.starLabel {
  display: flex;
  width:100%;
  height: 34px;
  position: absolute;
  top:0;
  left:0;
  z-index:1;
}
.starWrap label {
  height: 34px;
  flex:1;
}
.starWrap input[type="radio"] {
  display: none;
 }
.starDefault, .starFull {
  display: flex;   
  overflow: hidden;
  white-space: nowrap;
}
.starDefault {      
  z-index: 1;
}
.starDefault i {
  color: gray;
  font-weight: normal;
}
.starFull{
  position: absolute;
  z-index: 0;
  top:0;
  width:0px;
}
.starFull i {
  color:#FFA200;
}
.starWrap i {
  font-size: 30px;
  flex:1;
}
.mystarScore {
	display: inline-block;
    position: relative;
    width: 90px;
}
.mystarScore i {
	font-size: 16px;
}		
.mystarScore #default i {
	color: #979797;
}

.mystarScore #default, .mystarScore #full {
	display:flex;
}

.mystarScore #full {
	position: absolute;
    white-space: nowrap;
    overflow: hidden;
    width: 0px;
    top: 0;
}

.mystarScore #full i {
	color: #FFA200;
}